.btn{
    border: 1px solid var(--btn-primary-color);
    padding: 8px 20px;
    background-color: var(--btn-primary-color);
    font-weight: 400;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 4px 6px #0003;
    transition: var(--transition);
    user-select: none;
    display: flex;
    width: fit-content;
    gap: 1rem;
}
.btn:is(:hover, .active){
    filter: brightness(1.2);
    background-color: #fff1;
    backdrop-filter: blur(5px);
    color: var(--btn-primary-color)
}
.btn:active{
    transform: scale(0.9);
}
.outline{
    background-color: #fff1;
    backdrop-filter: blur(5px);
    color: var(--btn-primary-color)
}
.outline:hover{
    background-color: var(--btn-primary-color);
    color: inherit;
}

.disabled{
    filter: brightness(0.6) saturate(0.4);
    pointer-events: none;
    cursor: not-allowed;
    user-select: none;
}