@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* font family loaded 
* Josefin Sans', sans-serif
* 'Poppins', sans-serif
* 'Playfair Display', serif
*/
:root{
    --fonts:  'Poppins', sans-serif;
    --title-fonts: 'Playfair Display', serif;

    --container-width: 1200px;
    --container-padding: 0 16px;
    --top-nav-color: #ffffff;
    --body-background: #efefef;
    --nav-link-hover: #ff4b3d;
    --shadow: 0 2px 4px #0001;
    --transition: 0.3s ease-in-out;
    --nav-dropdown-width: 200px;
    --text-color: #333;
    --paragraph-color: #323232;
    --primary-color: #ff643d;
    --secondary-color: #eb8a75;
    --btn-color: #ff643d;
    --btn-primary-color: #ff643d;
    --section-padding: 80px;
    font-size: 17px;
}

body{
    background-color: var(--body-background);
    font-family: var(--fonts);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.6;
}

.container{
    width: 100%;
    max-width: var(--container-width);
    padding: var(--container-padding);
    margin: auto;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

p{
    color: var(--paragraph-color)
}

a{
    color: var(--nav-link-hover);
}