.outerContainer{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    overflow: hidden;
}
.innerContainer{
    position: relative;
    z-index: 10;
}

.title{
    text-align: center;
    color: #000;
    font-family: var(--title-fonts);
}
.title span{
    color: var(--primary-color);
}
.subTitle{
    text-align: center;
    position: relative;
    color: #999;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.subTitle::before{
    content: '';
    width: 25px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);
    transform: translateY(-50%)
}
.subTitle::after{
    content: '';
    width: 25px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%)
}


.tab_btn_wrapper{
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 14px;
    margin-bottom: 20px;
}
.tab_btn_wrapper button:is(:hover, .active){
    color: var(--primary-color);
}

.tab_output{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.tab_output>div{
    max-width: 400px;
    box-shadow: 0 1px 4px #0002, 0 1px 6px #0002;
    border-radius: 4px;
    overflow: hidden;
}
.tab_output>div img{
    aspect-ratio: 1/1;
}